/* Define global CSS variables */
:root {
  --color-primary: #3692FF;
  --color-text: #374151;
  --color-text-light: #9CA3AF;
  --color-text-dark: #1F2937;
  --color-background: #FFFFFF; 
  --color-background-dark: #111827;
  --color-background-light: #E5E7EB;
  --color-background-banner: #CFE5FF;
  --color-background-alt: #F3F4F6;
  
  --font-family-base: 'Pretendard-Regular', sans-serif;
  --font-family-heading: 'Noto Sans KR', sans-serif;
  
  --container-width: 1120px;
  --header-height: 70px;
  --footer-height: 160px;
  
  --spacing-xs: 12px;
  --spacing-sm: 24px;
  --spacing-md: 32px;
  --spacing-lg: 60px;
  --spacing-xl: 138px;
}

/* Utility Classes */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}